html {
    font-family: monospace;
}

body {
    background: black;
    color: lightgreen;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: @ auto;
}

input {
    margin: 1rem;
    border: 1px solid green;
    border-radius: 5px;
    color: lightgreen;
    background: black;
}

button:hover{
    cursor:pointer;
}
.form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastResult {
    color: white;
    padding: 3px;
}